.signUpTable > Form{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin-top: 5%;
    font-size: 13px;
    font-weight: normal;
    column-gap: 5%;
}
.signUpTable > Form > div > div> input{
    width: 380px;
    height: 5vh;
    border-radius: 12px;
    margin: 1%;
}
.submit{
    background-color: #89b4f6;
    width: 150px;
    height: 9vh;
    border-radius: 15px;
    border-color: #89b4f6;
    border-bottom-style: none;
    margin-top: 10%;
    margin-left: 25%;
}
.mainCont{
    /*background-color: #b2d7e1;*/
    background-image :linear-gradient(#89b4f6, #ef85ba, #89b4f6);
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.signUpTable{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
